 /*Selecteer alle code en haal de standaard margin weg*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     background: #FFF;
 }

 body {
     font-family: 'Helvetica', sans-serif;
     max-width: 300em;
     margin: auto;
     background-color: #FFF;
 }

 a {
     text-decoration: none;
 }

ul {
    list-style-type:none;
}

 #sectie-1 {
     background-color: #F3F3F3;
     padding-bottom: 2em;
     margin: auto;
     margin-top: 1em;

 }

 /*HEADER*/

 header {
     max-width: 40em;
     margin: auto;
     width: calc(100% - 3em);
 }

nav ul{
     display: flex;
     align-content: center;
     justify-content: space-between;
     margin: 0 auto;
 }

 /*desktop viewport*/

 @media (min-width: 1200px) {
     header {
         max-width: 1200px;
     }

     nav ul{
         width: 100%;
     }
 }

 #my-profile {
     width: 3em;
     height: 3em;
     border-radius: 100%;
     margin-top: 1.3em;
 }

 #wow-logo {
     width: 50px;
     height: 50px;
     border-radius: 40px;
     margin-top: 20px;
 }

 #taalicoon {
     width: 50px;
     height: 50px;
     border-radius: 40px;
     margin-top: 20px;
 }

 /*TITEL*/

 h1 {
     font-size: 9vw;
     padding-top: 1em;
     color: #363636;
     margin-bottom: 1em;
     margin-left: 0.5em;
 }





 /*sorteren*/

 fieldset {
     margin: 0 auto;
     font-size: 1em;
     font-weight: 600;
     width: calc(100% - 3rem);
     border: 0;

 }

 fieldset label {
     display: block;
     margin-bottom: 1em;
 }

 /*ipad*/

 @media (min-width: 600px) {
     fieldset {
         width: calc(100% - 4em);
         margin: 0 auto;
         max-width: 40em;
     }
 }

 /*desktop*/

 @media (min-width: 1200px) {
     fieldset {
         max-width: 1150px;
     }
 }

 fieldset select {
     height: 3em;
     margin-top: 1em;
     padding: 1em;
     width: calc(100% - 8em);
     max-width: 30em;
     margin: auto;
     border: none;
     margin-bottom: 2em;
 }

 input {
     padding: 1em;
     border: none;
     width: calc(100% - 8em);
     max-width: 30em;
 }

 #zoeken {
     margin-left: 2em;
     margin: 2em;
 }

 .submit-knop {
     padding: 0.7em;
     margin-left: 1em;
     font-size: 1em;
     border: none;
     border-radius: 4em;
     background-color: #B32091;
     color: #FFF;
     width: 2em;
     display: inline;
 }

 .submit-knop:hover {
     background: #BE15A0;
 }



 /*Sectie 2*/

 #sectie-2 {
     max-width: 40em;
     margin: auto;
     width: calc(100% - 3em);
 }

 /*Mijn verhalen*/


 h3 {
     margin-top: 1em;
     margin-bottom: 0.5em;
     font-size: 1em;
     font-weight: 600;
 }




 .kruis {
     width: 1em;
     position: absolute;
     margin-left: -2.5em;
     margin-top: 0.5em;
 }

 h2 {
     margin-top: 5%;
 }

 img:hover {
     transition: all .2s;
     transform: scale(1.04);
 }

 .afbeeldingen {
     display: flex;
     justify-content: space-between;
 }

 .thumbnail {
     width: 8em;
     border-radius: 5px;
 }


 /*ipad viewport ------------------------*/

 @media (min-width: 600px) {
     #sectie-1 {
         max-width: 40em;
     }

     #mijn-verhalen {
         max-width: 40em;
         margin: auto;
     }

     h1 {
         font-size: 6vw;
         margin: 0 auto;
         margin-left: 0.5em;
         padding-top: 10%;
         padding-bottom: 5%;
     }

     h2 {
         margin: 0 auto;
         margin-top: 1em;
     }

     h3 {
         margin-top: 2em;
         margin-bottom: 1em;
     }

     .thumbnail {
         width: 10em;
         border-radius: 5px;
     }

     .kruis {
         width: 3em;
         margin-left: -3.5em;
         margin-top: 0.5em;
     }
 }

 /*deskotp viewport --------------------------*/

 @media (min-width: 1200px) {

     #sectie-1 {
         max-width: inherit;
         max-width: 72em;
     }

     #sectie-2 {
         max-width: inherit;

     }

     #mijn-verhalen {
         display: flex;
         max-width: 72em;
         padding: 0em;
         padding-top: 2%;
     }

     h1 {
         font-size: 4em;
         margin-bottom: 1em;
         margin-left: 0.5em;
         padding-top: 1em;
     }

     h2 {
         margin: auto;
         max-width: 1150px;
         margin-top: 2em;
     }

     .afbeeldingen {
         width: 40em;
         display: block;
     }
     .thumbnail {
         margin-right: 1em;
     }
 }
